# すべてをignore
/*
/.*

# 管理対象にする
!install.bash
!install_bash.bash
!README.md
!.autotest
!.bash_aliases
!.bashrc
!.bash_profile
!.dircolors
!.gemrc
!.gitconfig
!.gitignore
!.globalrc
!.gvimrc
!.hgrc
!.lv
!.rspec
!.screenrc
!.vimrc
!.xprofile

!.vim_backup/.gitkeep

!.vim/
!.vim/bundle/.gitkeep
.vim/bundle/
.vim/pack

.vim/dein/*
!.vim/dein/dein.toml
!.vim/dein/dein_lazy.toml

!.config/
!.config/fish/
!.config/fish/config.fish
!.config/fish/functions/
!.config/fish/functions/fish_prompt.fish

